* {
    font-family: "Montserrat", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    padding-top: 58px;
}

:root {
    --main-color: #004b57;
    --main: #0075cc;
    --secondary: #ff9e00;
    --white: #eeeef3;
    /* --main-color: rgb(0, 71, 119); */
    --sec-color: rgb(68, 157, 209);
    --accent-color: rgb(232, 232, 232);
}

.txt-secondary {
    color: var(--secondary) !important;
}

.bg-main {
    background-color: var(--main-color);
}

.bg-sec {
    background-color: var(--sec-color);
}

.bg-white {
    background-color: var(--white) !important;
}

.bg-acc {
    background-color: var(--accent-color);
}

.text-main {
    color: var(--main-color);
}

.text-sec {
    color: var(--sec-color);
}

.text-acc {
    color: var(--accent-color);
}

.category-link {
    text-decoration: none;
    font-weight: bolder;
    color: var(--accent-color);
}

.category-link:hover {
    color: var(--sec-color);
}

.btn-outline-main {
    color: var(--main-color);
    border-color: var(--main-color);
}
.btn-outline-main:hover {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-main {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.btn-main:hover {
    color: var(--main-color);
    border-color: var(--main-color);
    background-color: #fff;
}


.card:hover {
    /* transform: scale(1.05); */
    /* transition: 0.3s; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/* ! HEADER */

header {
    position: relative;
    height: calc(100vh - 58px);
    background-image: url("/img/layout/header_bello.jpg") !important;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#header-txt {
    padding-left: 10%;
    padding-right: 10%;
}

#header-txt > h1 {
    color: var(--main-color);
    font-weight: 900;
    font-size: 5em;
}

#header-txt > h5 {
    color: var(--main-color);
    font-size: 1.5em;
}

.chevron {
    /* position: absolute;
    bottom: 10px; */
    /* left: 47%; */
    font-size: 6em;
    color: var(--main-color);
    transition: 0.2s;
}
.chevron:hover {
    color: var(--secondary);
}
.chevron-container {
    position: absolute;
    bottom: 10px;
    width: 80%;
}

#apply-txt > h1 {
    color: var(--secondary);
    font-weight: 800;
    font-size: 3em;
}

#apply-txt > h4 {
    color: var(--secondary);
    font-weight: bolder;
    font-size: 1.5em;
}

#floatingTextarea {
    height: 100px;
}

.btn-modify {
    background-color: var(--secondary);
    font-weight: bold;
    color: var(--white);
    border-color: var(--secondary);
}

.btn-modify:hover {
    background-color: #eb9204;
    font-weight: bold;
    color: var(--white);
    border-color: var(--secondary);
}

#user-head > h2 {
    color: var(--secondary);
    font-weight: 800;
    font-size: 2.5em;
}

.revisor-wrapper{
    max-height:100%;
    overflow-y:auto;
}

.revisor-details{
    max-height:100%;
    overflow-y:auto;
}

.revisor-row{
    height:60vh;
    backdrop-filter:blur(6px);
    background-color: rgba(255, 255, 255, 0.509);
}

.moderation-danger{
    background-color:rgb(187, 10, 10);
}
.moderation-danger.accordion-button:not(.collapsed){
    background-color:rgb(242, 55, 55);
}
.moderation-danger.accordion-button:focus{
    border-color:rgb(221, 147, 147)!important;
    box-shadow:0 0 0 0.25rem rgba(172, 1, 1, 0.44);
}

.moderation-warning{
    background-color:rgb(221, 191, 69);
}
.moderation-warning.accordion-button:not(.collapsed){
    background-color:rgb(242, 211, 87);
}
.moderation-warning.accordion-button:focus{
    border-color:rgb(223, 201, 111)!important;
    box-shadow:0 0 0 0.25rem rgba(221, 206, 147, 0.44);
}
.accordion-body{
    font-size:.8em!important;
}

.safe-search-1::before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:'\f058';
    color:rgb(0, 182, 58);
    width:20px;
    height:20px; 
    margin-right:4px;
}
.safe-search-2::before, .safe-search-3::before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:'\f071';
    color:rgb(221, 191, 69);
    width:20px;
    height:20px; 
    margin-right:4px;
}

.safe-search-4::before, .safe-search-5::before{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:'\f410';
    color:rgb(187, 10, 10);
    width:20px;
    height:20px; 
    margin-right:4px;
}

@media screen and (max-width: 425px){
    #header-txt > h1 {
        font-size: 19vw;
    }
}

@media screen and (max-width: 767px){
    .dashboard-header{
        margin-top: 0px!important;
        margin-bottom: 6px!important;
    }
    .revisor-wrapper{
        max-height:35%;
    }
    .revisor-details{
        max-height:65%;
    }

    .revisor-details h2{
        font-size:1.2em;
        font-weight: bold;
    }
    .revisor-details h4{
        font-size:1em;
        font-weight:bold;
    }

    .smalltext{
        font-size:.8em;
    }
    /* .revisor-row{
        height:60vh;
        backdrop-filter:blur(6px);
        background-color: rgba(255, 255, 255, 0.509);
    } */

    .accordion-button{
        padding:2px;
        margin:0;
        font-size:.5em;
    }

    .accordion-button::after{
        transform:scale(.7);
    }
}

